---
import '../styles/global.css';
const title = "Contact";
const description = "Celestial — designed and built with Celestial";
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta name="twitter:card" content="summary_large_image" />

  </head>
  <body>
    <main class="el-frame-1782629942904-z2cjvvyu2 page" style="width:1440px;height:3600px">

    </main>
  </body>
</html>
